<div class="container-fluid mt-4" data-controller="toggle" >
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">My Boats</h1>
  </div>
  <section class="row mt-4">
    <section class="col-md-6">
      <div class="card shadow h-100">
        <div class = " container py-5">
          <div class="fs-5 border-bottom">
            <h3 class = " text-dark "><strong><%= @boat.title %></strong></h3>
            <p><%= @boat.description %></p>
          </div>
          <p class="my-3 text-dark">
            <strong><i class="bi bi-tags"></i> Price:</strong>
            <span class="font-weight-bold text-success"><%= @boat.price_per_unit %></span><span>/day</span>
          </p>
          <p><strong> <i class="bi bi-geo-alt"></i> Location: </strong> <%= @boat.location %></p>
          <%# <p ><strong> :male-pilot::skin-tone-2: Captain : </strong> <%= @boat.captain_name %>
          <p><strong> <i class="bi bi-people-fill"></i> Capacity: </strong> <%= @boat.guest_capacity %></p>
          <p class="border-bottom pb-3"><strong><i class="bi bi-arrows"></i>  Length: </strong> <%= @boat.boat_size %></p>
          <p><strong> <i class="bi bi-calendar4-week"></i> Availability from: </strong> <%= @boat.availability_from %></p>
          <p class="border-bottom pb-3" ><strong> <i class="bi bi-calendar3"></i> Availability to: </strong> <%= @boat.availability_to %></p>
        </div>
      </div>
    </section>
    <section class="col-md-6">
      <div class="card shadow h-100">
        <div class = "container py-5 ">
          <%# <div data-controller="toggle" class="mt-3"> %>
          <%# <button data-action = "click->toggle#fire" class="btn btn-outline-primary">Add New Booking</button> %>
          <%# <div data-toggle-target="toggleableElement" class="d-none"> %>
          <div>
            <div class="pb-3">
              <h2 class= "text-dark">Create Booking</h2>
            </div>
            <%= simple_form_for [@boat, @booking] do |f| %>
              <%= f.input :start_date,  as: :string, input_html: { data: { controller: "datepicker" } }%>
              <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
              <%= f.button :submit, class: "btn btn-primary"%>
            <% end %>
            <%# <%= link_to 'Edit', edit_boat_path(@boat) %>
            <%# <%= link_to 'Back to Boats', boats_path %>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>
