<!-- Content Row 1 -->
<div class="container-fluid" >
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">My Bookings</h1>
  </div>
  <div class="row">
    <!-- Current Bookings Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                My bookings</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @bookings.length %></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Pending Requests Card Example -->
  </div>
</div>
<!-- end Row 1 -->
<!-- Content Row 2 -->
<div class="container-fluid">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4">
    <!-- begin  contianer -->
    <% @bookings.each do |bb|%>
      <!-- Card  -  -->
      <div class="col">
        <div class="card h-100">
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="font-weight-bold text-primary" style="font-weight:bold;font-size:1.1em">
              Booking for: 
              <span class='col-4'>'<%= Boat.find(bb.boat_id).title.upcase %>' / <%= Boat.find(bb.boat_id).location.capitalize %></span>
            </h6>
          </div>
          <% boat =Boat.find(bb.boat_id)  %>
          <% if boat.photos.attached? %>
            <%= link_to boat_path(boat), class: "text-decoration-none" do %>
              <%= cl_image_tag(boat.photos.last.key, height: 200, width: 650, crop: :fill, class: "card-img-top") %>
            <% end %>  <% end %>
          <div class="card-body">
            <h5 class="card-title">Booking details</h5>
            <div class="card-text row py-2">
              <span class='col-6' style="font-weight:bold;font-size:1.1em"><i class="bi bi-calendar4-week me-2"></i><%= bb.start_date %></span>
              <span class='col-6' style="font-weight:bold;font-size:1.1em"><i class="bi bi-calendar3 me-2"></i><%= bb.start_date %></span>
            </div>
            <div class="card-text row py-2">
              <span class='col-6' style="font-weight:bold;font-size:1.1em"> <i class="bi bi-tags me-2"></i>$ <%= bb.total_price %> </span>
              <span class='col-6' style="font-weight:bold;font-size:1.1em">
                <% if bb.status == 'accepted' %>
                  <i class="bi bi-hand-thumbs-up-fill me-2"></i> <%= bb.status %>
                <% else %>
                  <i class="bi bi-hourglass me-2"></i></i> <%= bb.status %>
              <% end %>
            </span>
          </div>
          <hr>
          <div class="card-text row">
            <span class='col-6' style="font-weight:bold;font-size:1.1em"><i class="bi bi-pencil-square me-2"></i>Edit</span>
            <span class='col-6' style="font-weight:bold;font-size:1.1em"><i class="bi bi-x-square me-2"></i><%= link_to "Delete", booking_path(bb),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></span>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last Updated:<%= bb.updated_at.strftime(' %H:%M %m/%d/%Y') %></small>
        </div>
      </>
    </div>
  </div>
  <!-- end Card  -  -->
<% end %>
<!-- end container -->
</div>
