<div  data-controller="dashboard" >
  <!-- Content Row 1 -->
  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>
    <div class="row">
      <!-- Current Bookings Card Example -->
      <a class="col-xl-3 col-md-6 mb-4"  data-action="click->dashboard#showbookings">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                  My bookings</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @bookings.length %></div>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
      <!-- Pending Requests Card Example -->
      <!-- Tasks Card Example -->
      <a class="col-xl-3 col-md-6 mb-4 <%= @dnone %>" data-action="click->dashboard#showpendings">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">  Pending booking request
                </div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%=@open.length  %><span class=" text-info ">/</span><%=@pending.length  %></div>
                  </div>
                  <div class="col">
                    <div class="progress progress-sm mr-2">
                      <div class="progress-bar bg-info" role="progressbar" style="width:<%= @percentage  %>%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fas fa-ship fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
      <!-- Pending Requests Card Example -->
    </div>
  </div>
  <!-- end Row 1 -->
  <!-- Content Row 2 -->
  <div class="container-fluid"  data-dashboard-target="mybookings">
    <!-- Content Row 2 -->
    <div class="row">
      <!-- Area Chart -->
      <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">My Bookings
              <h6>
                <div class="dropdown no-arrow">
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Dropdown Header:</div>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
              <!-- Card Body my bookings-->
              <div class="card-body">
                <!-- Card Body -->
                <ul class="list-group list-group-flush">
                  <li class="list-group-item  d-flex text-start text-xs font-weight-bold text-primary text-capitalize mb-1">
                    <span class="col-2">From</span>
                    <span class="col-2">To</span>
                    <span class="col-3">Boat name</span>
                    <span class="col-2">Captain</span>
                    <span class="col-1">Total price</span>
                    <span class="col-2">Booking Status</span>
                  </li>
                  <% @bookings.each do |bb|%>
                    <li class="list-group-item  d-flex text-start">
                      <span class="col-2"><%= bb.start_date %></span>
                      <span class="col-2"><%= bb.end_date %></span>
                      <span class="col-3"><%= Boat.find(bb.boat_id).title %></span>
                      <span class="col-2"><%= User.find( bb.user_id).email %></span>
                      <span class="col-1"><%= bb.total_price %></span>
                      <span class="col-2"><%= bb.status %></span>
                    </li>
                  <% end %>
                  <ul>
                    <!-- end Card Body booking -->
                  </div>
                </div>
              </div>
              <!-- Pie Chart -->
              <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Boat information</h6>
                    <div class="dropdown no-arrow">
                      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </div>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <!-- content -->
                    <div class="card border-0 h-100">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                        </p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted"></small>
                      </div>
                    </div>
                    <!-- content -->
                    <div class="mt-4 text-center small">
                      <!-- footer -->
                      <!-- footer -->
                    </div>
                    <!-- Card Body -->
                  </div>
                </div>
              </div>
            </div>
            <!-- Pending Requests Card Example -->
          </div>
        </div>
      </div>
    </div>
    <!-- End  Row 2 -->
  </div>
  <div class="container-fluid" >
    <!-- Content Row 3-->
    <div class="row <%= @dnone %>"  >
      <!-- Area Chart -->
      <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-info">Pending Booking Requests</h6>
            <div class="dropdown no-arrow">
            </div>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <!-- inside Body -->
            <ul class="list-group list-group-flush">
              <li class="list-group-item  d-flex text-start text-xs font-weight-bold text-info text-capitalize mb-1">
                <span class="col-2">From</span>
                <span class="col-2">To</span>
                <span class="col-2">Boat name</span>
                <span class="col-2">Client Name</span>
                <span class="col-2">Booking Status</span>
              </li>
              <% @pending.each do |pp|%>
                <li class="list-group-item  d-flex text-start">
                  <span class="col-2"><%= pp.start_date %></span>
                  <span class="col-2"><%= pp.end_date %></span>
                  <span class="col-2"><%= Boat.find(pp.boat_id).title %></span>
                  <span class="col-2"><%= User.find( pp.user_id).email %></span>
                  <span class="col-4">
                    <div class="form-group form-inline input-group">
                      <%= simple_form_for pp, data: { update_booking_target: "status", action: "submit->update-booking#update" },  class: 'form-group form-inline input-group text-info'  do |f| %>
                        <%= f.input :status,label: false, class:"input-group",
                 collection: %w[pending accepted rejected ]                  %>
                        <%= f.button :submit, class:'btn btn-outline-info' %>
                      <% end %>
                    </div>
                  </span>
                </li>
              <% end %>
              <ul>
                <!-- end Body -->
              </div>
            </div>
          </div>
          <!-- Pie Chart -->
          <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-info">Booking Informations</h6>
                <div class="dropdown no-arrow">
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
                    <div class="dropdown-header">Dropdown Header:</div>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
              <!-- Card Body -->
              <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                  <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                      <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                      <div class=""></div>
                    </div>
                  </div>
                  <canvas id="myPieChart" width="812" height="490" class="chartjs-render-monitor" style="display: block; height: 245px; width: 406px;"></canvas>
                </div>
                <div class="mt-4 text-center small">
                  <!-- some lable -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End  Row 3-->
</div>
