<h1>My Fleets</h1>
<div class="col-xl-6 col-md-12 mb-4 <%= @dnone %>" >
  <div class="card border-left-success shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">My Boats
          </div>
          <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @boat.boat_size %></div>
        </div>
        <div class="col-auto">
          <i class="fas fa-anchor fa-2x text-gray-300"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-12">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <!-- Card Body -->
      <div class="card-body">
        <!-- info go in -->
        <ul class="list-group list-group-flush">
          <li class="list-group-item  d-flex text-start text-xs font-weight-bold text-success text-capitalize mb-1">
            <span class="col-2">Boat Name</span>
            <span class="col-2">Location</span>
            <span class="col-2">Available From</span>
            <span class="col-3">Available To</span>
            <span class="col-1"></span>
            <span class="col-2"></span>
          </li>
          <% @boats.each do |ob|%>
            <li class="list-group-item  d-flex text-start">
              <span class="col-2"> <%= ob.title %></span>
              <span class="col-2"> <%= ob.location %> </span>
              <span class="col-2"> <%= ob.availability_from.strftime('%m/%d/%Y') if ob.availability_from %></span>
              <span class="col-3"> <%= ob.availability_to.strftime('%m/%d/%Y') if ob.availability_from %></span>
              <span class="col-1"> <%= link_to 'Edit', edit_boat_path(ob),class:'text-success' %></span>
              <span class="col-2"><%= link_to "Delete", boat_path(ob),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%></span>
              <!-- >
               <span class="col-2"><%= link_to 'Delete', boat_path(ob),class: 'text-danger',  data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this boat?'} %></span>
               -->
            </li>
          <% end %>
          <ul></ul>
        </ul  class="my-4">
        <div class="card-body my-2"> <%= link_to 'Customer Requests', dashboards_clientrequests_path, class: 'btn btn-outline-success' %></div>
        <!-- info go up -->
      </div>
    </div>
  </div>
  <!-- Pie Chart -->
